p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#div1{
    box-shadow: 0px 3px 7px gray;
    border-radius:20px;
    background-color: red;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    width: 100px;
    height: 100px;
    text-align: center;
}
#div2{
    background-color: orange;
    box-shadow: 0px 3px 7px gray;
    border-radius:20px 50px;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    width: 100px;
    height: 100px;
    text-align: center;
}
#div3{
    background-color: yellow;
    padding: 10px;
    margin: 10px;
    width: 100px;
    height: 100px;
    text-align: center;
    display: inline-block;
    border: black solid 1px;
    border-radius:10px 30px 30px 30px;
}
#div4{
    background-color: olivedrab;
    padding: 10px;
    margin:10px;
    width: 100px;
    height: 100px;
    text-align: center;
    display: inline-block;
    border-radius: 50% 20% 20% 20%;
}
#div5{
    background-color: rgba(255, 0, 0, 0.3);
    width: 500px;
}
#div6{
    background-color: rgba(255, 0, 0, 0.4);
    width: 500px;
}
#div7{
    background-color: rgba(255, 0, 0, 0.5);
    width: 500px;
}
#div8{
    background-color: rgba(255, 0, 0, 0.6);
    width: 500px;
}
#div9{
    background-image: linear-gradient(green,yellow);
    width: 500px;
    height: 50px;
    border: black 1px solid;
}
#div10{
    background-image:linear-gradient(to right, purple, blue);
    width: 500px;
    height: 50px;
    border: black 1px solid;
    
    
}
#div11{
    background-color: red;
    width: 200px;
    height: 100px;
    box-shadow: 0px 3px 10px 5px black;
    margin: 10px;
    text-align: center;
    display: inline-block;
}
#div12{
    background-color: rgb(37, 111, 248);
    width: 200px;
    height: 100px;
    box-shadow: 0px 3px 7px  black;
    margin: 10px;
    text-align: center;
    display: inline-block;
}
#ej3{
    text-shadow: 2px 2px 5px red;
}
#ej31{
    text-shadow:2px 2px;
    font-weight: bolder;
}
#div13{
background-color: greenyellow;
width: 200px;
height: 100px;
border: 1px solid black;

margin-bottom: 30px;
text-align: center;

}
#div14{
    background-color: skyblue;
   width: 200px;
    height: 50px;
    border: 1px solid black;
    transform: scale(1.5);
   
    text-align: center;
    margin: 10px;
}
#div15{
    background-color: palevioletred;
    width: 50px;
    height: 30px;
    border: 5px dotted darkorchid;
    text-align: center;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#div16{
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
    position: relative;
    animation-iteration-count: 3;
}
    @keyframes example {
        0%   {background-color: red;left:0px;top:0px;}
        25%  {background-color: yellow; left:200px; top:0px;}
        50%  {background-color: blue; left:200px; top:200px;}
        75%  {background-color: green; left:0px; top:200px;}
        100% {background-color:red; left: 0px; top: 0px;}
      }

 #div17{
     column-count: 3;
     border: 1px solid gray;
 }
#div13:hover{
    transform: rotate(20deg);
    transition-duration: 2s;
}
#div14:hover{
    transform: scale(0.2);
    transition-duration: 1s;
}
#div10:hover{
    transform: scale(1.5);
    transition-duration: 2s;
}
#div15:hover{
    background-color: yellowgreen;
    transition: width 2s, height 2s, transform 2s;
    width: 70px;
    height: 40px;
}
 
